<carousel>
    <slide>
        <img src="assets/images/hero1.webp" alt="first slide" style="display: block; width: 100%;" routerLink="/shop">
    </slide>
    <slide>
        <img src="assets/images/hero2.webp" alt="second slide" style="display: block; width: 100%;" routerLink="/shop">
    </slide>
    <slide>
        <img src="assets/images/hero3.webp" alt="third slide" style="display: block; width: 100%;" routerLink="/shop">
    </slide>
    <slide>
        <img src="assets/images/hero4.jpg" alt="fourth slide" style="display: block; width: 100%;" routerLink="/shop">
    </slide>
    <slide>
        <img src="assets/images/hero5.jpg" alt="fifth slide" style="display: block; width: 100%;" routerLink="/shop">
    </slide>
    
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>

