<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null" class="d-flex justify-content-center">
        <p class="py-5">There are no items in your cart 😫</p>
    </div>

    <div *ngIf="basket$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <main class="col-md-8">
                        <app-basket-summary 
                            (decrement)="decrementItemQuantity($event)"
                            (increment)="incrementItemQuantity($event)" 
                            (remove)="removeBasketItem($event)"
                            [items]="(basket$ | async).items">
                        </app-basket-summary>
                    </main>
                    <aside class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <app-order-totals
                                   *ngIf="(basketTotals$ | async)"
                                   [shippingPrice]="(basketTotals$ | async).shipping"
                                   [subtotal]="(basketTotals$ | async).subtotal"
                                   [total]="(basketTotals$ | async).total"
                                 ></app-order-totals>
                                <a routerLink="/checkout" class="btn btn-outline-primary py-2 d-md-block">
                                    Proceed to checkout
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>