.desktop-navLink:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 8, 0);
  -moz-text-decoration-color: rgb(255, 8, 0);
  text-decoration-thickness: 4px;
}


.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: red;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: rgb(255, 8, 0);
  }
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}