.desktop-navLink:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  -moz-text-decoration-color: rgb(255, 255, 255);
  text-decoration-thickness: 4px;
}


.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: #de3163;;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
  text-decoration: none;
  color: #fff;

  &.active {
    color: rgb(255, 255, 255);
  }
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}


.dropdown-item:focus, .dropdown-item:hover {
  color: #fff !important;
 
}

