<div class="d-flex flex-column flex-md-row align-items-center justify-content-around p-2 
px-md-4 bg-white border-bottom shadow-sm">
    <img src="assets\images\logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
    
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-primary me-2">Login</a>
        <a class="btn btn-primary me-2">Sign up</a>
    </div>
</div>

<nav class="d-flex flex-column flex-md-row align-items-center justify-content-center text-uppercase bg-primary p-3 px-md-4 shadow-sm sticky-top" style="font-size: large;">
    <a class="p-2 desktop-navLink" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a>
    <a class="p-2 desktop-navLink" routerLink="/shop" routerLinkActive="active">shop</a>
    <a class="p-2 desktop-navLink" routerLink="/test-error" routerLinkActive="active">Errors</a>
</nav>


